[Unit]
Description=Run Finder V1 DOC harvest every 10 minutes

[Timer]
OnCalendar=*:0/10
Persistent=true
Unit=finder-v1-doc-harvest.service

[Install]
WantedBy=timers.target
